
.App {
	width: 100%;
	min-height: 1000% ;
}

section {
	width: 100%;
	min-height: 100% ;
	position: relative;
}

.slider {
	width: 100%;
	height: 100% ;
	overflow: hidden;
	position: relative;
}
.slider__title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 4rem;
	color: #fff!important;
	text-transform: uppercase;
	padding: 0 4rem;
	z-index: 100;
	text-shadow: 0 0 0.5rem rgb(9, 9, 34);
}
.d-none{
	display: none!important;
}

.carouselImage{
	height: 85vh ;
}
#text{display: block;
	background-color: #fff;
	color: #50A7B8;
	text-align: center;
	opacity: 0.8;
	border-radius:20px;
width: 25vw;}


.slider__content,
.slider__content--item {
	width: 100%;
	height: 85vh ;
	position: relative;
}

.slider__content--item img {
	width: 100%;
	height: 100% ;
	object-fit: cover;
}

.slider-description {
	position: absolute;
	bottom: 5rem;
	width: 80%;
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
	padding: 1rem 1rem;
}


@media(max-width:780px)
{
	.carouselImage{
		height: 55vh ;
	}


	.slider__content,.slider
	.slider__content--item,.slider-description {
		height: 55vh ;
	}

	.lastMainImage{
		margin:0 !important;
	}

}