.FooterWraper{flex-wrap: wrap; }

.FooterColor{
    padding-top: 3em;
    color: #DAF7DC;
    background-color: #2F4858;
padding-bottom: 3em;
}
.FooterIcons{
    margin: 0;
    width: 10em;
    color: #DAF7DC;

}
