.Propiedad {
  margin-top: 6%;
  display: flex;
  justify-content: space-evenly;
}

.btn-primary {
  border: none;
  background-color: #50a7b8;
}

.btn-primary:hover {
  background-color: #207d98;
}

#PropiedadesImageContainer2 {
  justify-content: end;
}

.PropiedadesImage {
  width: 70vw;
  height: 80vh;
}

.descripcion_propiedad {
  color: #aaa;
  text-align: center;
  word-wrap: break-word;
  width: 50vw;
}

.PropiedadesIcons {
  margin: 5%;
}

@media (max-width: 640px) {
  .Propiedad {
    justify-content: center !important;
    flex-wrap: wrap;
  }

  #Propiedad2 {
    justify-content: center!important;
    flex-wrap: wrap-reverse;
  }

  .PropiedadesImageContainer {
    display: flex ;
    justify-content: center!important;
  }
  #PropiedadesImageContainer2 {
    justify-content: center!important;
  }

  .PropiedadesImage {
    margin: 10px;
    align-self: center;
    width: 70%;
  }

}

@media (max-width: 780px) {


  .PropiedadesImage {
    height: 35vh;
  }
}
