
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#F3F7FD;
  }
  
  code {
    font-family: 'Nunito Sans', sans-serif;
  }
  


h2,h3,h4,h5,.PropiedadesIcons{
    margin-bottom: 1rem;
    color:#1E4968 ;
    letter-spacing:1.75px;
    text-transform:uppercase;
    text-align:start;
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;

 }

p,h6{
    color: #135878;
    font-size: 12px;
    font-weight:600;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
    font-family: 'Nunito Sans', sans-serif;

}

a{font-size: 14px;
color: #ffffff;
}
a:hover{
  text-decoration:none!important;
}

.nav-link:hover{
  text-decoration: none!important;
}

.card-2{display: flex;justify-content: space-around;
background-color: #ffffff;
border-radius: 7px;
}

.img-fluid-2 {

padding: 3px;
border-radius: 7px;
max-width: 200px;}
.fw{flex-wrap: wrap;}

.fleximg{display: flex;justify-content: center;}
.imageOpinion{
margin: 30px ;
border-radius: 99%;
max-width: 150px;}


.section-container-subtitle {
color: #AAA;
  text-align: center;
  word-wrap: break-word;
 width: 150px;
}

.SobreNotros{
margin-top:17vh ;
margin-bottom:20px ;
padding-bottom: 40px ;
padding-top: 25px ;
background-color: #D6DBDF;
border-radius: 10px;
}

.sobreNosotrosImg{display: flex;justify-content: space-around;flex-wrap: wrap;
margin-top: 30px;}

.sobreNosotrosImages{border-radius: 10px;}


body{margin-top:20px;
background:#ffffff;
}

.mobileCarousel{background-size:cover}



p{font-size: 15px;

line-height: 1.85;}




